<div class="container">
		<div class="row" style="height: 20vh;">
		</div>
</div>

<div class="container" >
	<div class="row jumbotron">

		<div class="row">
			<a type="button" href="#/step2" class="btn btn-facebook btn-circle btn-xl"><i class="glyphicon glyphicon-arrow-left"></i></a>
			<a href="#/step2" style="padding-right:5px">Step 2</a>
			<div class="pull-right">
				<a href="#/step4" style="padding-left:5px">Step 4</a>
				<a type="button" href="#/step4" class="btn btn-facebook btn-circle btn-xl"><i class="glyphicon glyphicon-arrow-right"></i></a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5 pull-left" style="padding-top:35px">
				<div style="padding-bottom:10px;">
					<img src="images/steps/step4.png" class="img-thumbnail" alt="Cinque Terre" width="504" height="436"> 
				</div>
				<input class="form-control" type="text" ng-model="appID"><br>
				<button href="#/step1" class="btn btn-facebook pull-right" ng-click="fbLogin()">Go!</button>
			</div>

			<div class="col-md-5 pull-right">
			<h1>Grab the App ID</h1>
			<p style="width: 30vw">Copy and pasta the app ID in the space to the left.</p><br>
		</div>
	</div>
</div>